[Unit]
Description=Create and mount loop devices to be used as ceph storage

[Service]
ExecStart=/opt/ceph/ceph-mount-blk
ExecStop=/opt/ceph/ceph-umount-blk
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=default.target

