[Unit]
Description=Create and mount loop devices to be used as ceph storage

[Service]
ExecStart=/home/pis/src/licenta/docker-ceph-cluster/systemd-service/ceph-mount-blk
Type=forking

[Install]
WantedBy=default.target

